<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="br.com.liv3n.pedidostol">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:label="PedidosTOL" android:icon="@drawable/logo"></application>
</manifest>